<%= form_for(@cocktail) do |f| %>

  <% if @cocktail.errors.any? %>
  <% end %>
<form>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.text_field :picture, class: "form-control" %>
  </div>

  <%= f.submit :class => 'btn btn-default' %>
</form>
<% end %>
