<p id="notice"> <%= notice %> </p>
<h1>
  <%= @cocktail.name %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-default" %>
    <%= link_to 'Delete', @cocktail, method: :delete, data: { confirm: "Are you sure you want to delete #{@cocktail.name} ?" }, class: "btn btn-default"%>

    <%#= link_to "Edit", edit_cocktail_path(@cocktail), :class => "btn btn-default" %>
    <%#= link_to "Delete", cocktail_path(@cocktail), method: :delete, :class => "btn btn-default", data: { confirm: "Are you sure you want to delete #{@cocktail.name} ?"} %>

    <%= link_to 'Back', cocktails_path, class: "btn btn-default" %>
  </div>
</h1>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center"> -->
    <div class="thumbnail">
      <!-- <img src="<%#= @cocktail.picture %>" class="img-circle show_image" alt="@cocktail.name" height="300"> -->
      <%# cloudinary %>
      <%= cl_image_tag @cocktail.picture, height: 300, width: 300, crop: :fill %>
      <%#= image_tag(@cocktail.picture, :alt => @cocktail.name, :class => "img-circle show_image") %>
    </div>
  </div>

  <div class="col-sm-6 col-md-8">
    <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center"> -->
    <div class="caption">
      <h3>Preparation</h3>
      <p> <%= @cocktail.description %> </p>
    </div>
    <h3>Ingredients</h3>
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>

      <li class="list-group-item">
        <strong> <%= dose.description %></strong>  <%= dose.ingredient.name  %>

        <div class="pull-right" >
          <%= link_to 'Edit', edit_cocktail_dose_path(@cocktail.id, dose), class: "btn btn-primary"%>
          <%= link_to 'Delete', cocktail_dose_path(@cocktail.id, dose), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-primary"%>
        </div>
      </li>


      <% end %>

    </ul>

    <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>



  </div>
</div>
</div>







